/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .page-footer .single-clm .payments{
        flex-direction: row;
    }
    .single-clm .payments img{
        margin: 15px;
    }
    .page-footer .single-clm ul li{
        margin-bottom: 15px;
    }
    .partnets-sec .boxes img{
        margin: 15px 25px;
    }
    .page-footer .btm-part .about-us{
        padding-left: 0;
    }
    .features-sec .single-box{
        margin-bottom: 60px;
    }
    .ft-content .social-links .link{
        margin-left: 8px;
    }
    .inners-sec .header-sec .contact.btm{
        transform: translateY(-10%);
    }
    .inners-sec .header-sec .contact .single-clm.tow > *{
        margin-bottom: 10px;
    }
    .inners-sec .header-sec .contact .btm-form{
        flex-direction: column;
    }
    .inners-sec .header-sec .contact .btm-form .check{
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .inners-sec .header-sec .contact{
        transform: translateY(-60px);
    }
    .page-footer .copies{
        flex-direction: column;
    }
    .header-sec .contact .form .fromTo{
        flex-direction: column;
    }
    .header-sec .contact .form .fromTo .inpt{
        width: 100%;
        margin: 0 0 20px 0 !important;
    }
    .header-sec .contact .form .dates{
        flex-direction: column;
        border: none;
    }
    .header-sec .contact .form .dates input{
        border: 1px solid #CCC;
        padding: 7px 15px;
        border-radius: 5px;
        margin-bottom: 15px;
        width: 100%;
    }
    .header-sec .contact .form select{
        margin-bottom: 15px;
    }
    .boxes .single-box .comp-div{
        order: -1;
        width: 100%;
        margin-bottom: 15px;
    }
    .boxes .single-box .time-div{
        order: 5;
        width: 100%;
        margin-top: 15px;
        flex-direction: column;
    }
    .boxes .single-box .time-div> div{
        margin: 0 0 15px !important;
        text-align: center;

    }
    .boxes .single-box .id-div,
    .boxes .single-box .status-div{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .boxes .single-box .status-div{
        margin-top: 15px;
    }
    .boxes .single-box .menu-div{
        position: absolute;
        top: 0;
        left: 0;
    }
    .boxes .single-box .menu-div .btn{
        transform: rotate(90deg);
    }
    .otp-sec .image-div img{
        margin: 0;
        width: 100%;
    }
}   

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .page-footer .single-clm .payments{
        flex-direction: row;
    }
    .single-clm .payments img{
        margin: 15px;
    }
    .page-footer .btm-part .about-us{
        padding-left: 0;
    }
    .features-sec .single-box{
        margin-bottom: 60px;
    }
    .ft-content .social-links .link{
        margin-left: 8px;
    }
    .inners-sec .header-sec .contact.btm{
        transform: translateY(-15%);
    }
    .inners-sec .header-sec .contact .single-clm.tow > *{
        margin-bottom: 10px;
    }
    .inners-sec .header-sec .contact .btm-form{
        flex-direction: column;
    }
    .inners-sec .header-sec .contact .btm-form .check{
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .inners-sec .header-sec .contact{
        transform: translateY(-70px);
    }
    .boxes .single-box .comp-div{
        order: -1;
        width: 100%;
        margin-bottom: 15px;
    }
    .boxes .single-box .time-div{
        order: 5;
        width: 100%;
        margin-top: 15px;
    }
    .boxes .single-box .id-div,
    .boxes .single-box .status-div{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .boxes .single-box .menu-div{
        position: absolute;
        top: 0;
        left: 0;
    }
    .boxes .single-box .menu-div .btn{
        transform: rotate(90deg);
    }
    .otp-sec .image-div img{
        margin: 0;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .page-footer .single-clm .payments{
        flex-direction: row;
    }
    .single-clm .payments img{
        margin: 15px;
    }
    .page-footer .btm-part .about-us{
        padding-left: 0;
    }
    .features-sec .single-box{
        margin-bottom: 60px;
    }
    .inners-sec .header-sec .contact.btm{
        transform: translateY(-15%);
    }
    .inners-sec .header-sec .contact .single-clm.tow > *{
        margin-bottom: 10px;
    }
    .inners-sec .header-sec .contact .btm-form{
        flex-direction: column;
    }
    .inners-sec .header-sec .contact .btm-form .check{
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .inners-sec .header-sec .contact{
        transform: translateY(-80px);
    }
    .boxes .single-box .comp-div{
        order: -1;
        width: 100%;
        margin-bottom: 15px;
    }
    .boxes .single-box .time-div{
        order: 5;
        width: 100%;
        margin-top: 15px;
    }
    .boxes .single-box .id-div,
    .boxes .single-box .status-div{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .boxes .single-box .menu-div{
        position: absolute;
        top: 0;
        left: 0;
    }
    .boxes .single-box .menu-div .btn{
        transform: rotate(90deg);
    }
    .otp-sec .image-div img{
        width: 100%;
        margin: 0;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .single-clm .payments img:last-of-type{
        margin-bottom: 0;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container-fluid{
        padding: 0 100px;
    }
    .single-clm .payments img:last-of-type{
        margin-bottom: 0;
    }
}