/* Calling Fonts */
@font-face {
    font-family: 'CarioR';
    src: url(../fonts/Cairo-Regular.ttf);
}
@font-face {
    font-family: 'CarioSm';
    src: url(../fonts/Cairo-SemiBold.ttf);
}
@font-face {
    font-family: 'CarioB';
    src: url(../fonts/Cairo-Bold.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'CarioR';
    text-align: right;
}
a{
    text-decoration: none !important;
}
.btn:focus, .btn,
button:focus, button,
input, input:focus,
select, select:focus,
textarea, textarea:focus{
    box-shadow: none;
    border: none;
    outline: none;
}

/* ****************** Strat Style Page Header *******************/
.page-header .navbar{
    background-color: #FFF;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.01);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 999999;
}
.page-header .navbar.over{
    overflow-y: auto;
}
.page-header .navbar .navbar-nav .nav-link{
    color: #000;
    font-family: 'CarioSm';
}
.page-header .navbar .navbar-nav .nav-link:hover{
    color: #C34E5E;
}
.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show>.nav-link{
    color: #C34E5E;
}
.page-header .left-btns #signin{
    background-color: #C34E5E;
    color: #FFF;
}
.page-header .left-btns{
    position: relative;
}
.page-header .left-btns .langs{
    position: absolute;
    bottom: -120px;
    left: 0;
    padding: 15px 15px 0;
    border-radius: 12px;
    box-shadow: 0 0 20px 0px #0000001f;
    width: 150px;
    background-color: #FFF;
    text-align: left;
    transition: .4s ease;
    visibility: hidden;
    opacity: 0;
    z-index: 1111;
}
.navbar.over .left-btns{
    display: none;
}
.page-header .left-btns .btn.lang{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.page-header .left-btns .langs.active{
    bottom: -100px;
    visibility: visible;
    opacity: 1;

}
.page-header .left-btns .langs .link-lang{
    display: inline-block;
    width: 100%;
    color: #000;
    transition: .5s ease;
}
.page-header .left-btns .langs .link-lang:hover{
    transform: translateX(10px);
}
.page-header .navbar .navbar-toggler{
    font-size: 22px;
    color: #C34E5E;
    margin-right: auto;
}
.overlay-pop{
    position: fixed;
    top: 71px;
    left: 0;
    width: 100%;
    height: calc(100vh - 71px);
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    z-index: 111;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease, visibility .2s ease;
}
.overlay-pop.show{
    opacity: 1;
    visibility: visible;
}
.small-pop{
    z-index: 1111;
    opacity: 0;
    visibility: hidden;
    bottom: -20px;
    transition: .3s;
}
.small-pop.show{
    opacity: 1;
    visibility: visible;
    bottom: -5px;
    transform: translateY(100%);
}

/* ****************** Style Main Page ****************** */
.page-main{
    padding-top: 80px;
}
.page-main.no-top{
    padding-top: 65px;
}
.new-sec{
    padding-bottom: 100px;
}
.new-sec .sec-head .sub-title{
    color: #C34E5E;
    font-family: 'CarioSm';
}
.new-sec .sec-head .sec-title{
    font-family: 'CarioSm';
    font-size: 25px;
}
.header-sec .back-img{
    width: 100%;
    min-height: 70vh;
    border-radius: 20px;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/How-Much-to-Tow-a-Car.jpg) center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-sec .back-img .content{
    color: #FFF;
}
.back-img .content h2{
    line-height: 1.6;
    font-family: 'CarioSm';
}
.back-img .content h2 .pink{
    color: #C34E5E;
}
.inners-sec.home .header-sec .contact{
    width: 95%;
    margin: auto;
    border-radius: 20px;
    border-top-right-radius: 0;
    border: none;
    box-shadow: 0 10px 15px 2px rgba(0, 0, 0, 0.08);
    position: relative;
    padding: 30px;
    transform: translateY(-100px);
}
.home .header-sec .contact .tabs{
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-100%);
}
.home .header-sec .contact .tabs .tab{
    background-color: #FFF;
    color: #000;
    padding: 14px 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.home .header-sec .contact .tabs .tab.active{
    background-color: #C34E5E;
    color: #FFF;
}
.home .header-sec .contact .tabs .tab span{
    margin-left: 5px;
    font-size: 18px;
}
.header-sec .contact .tabs .tab.book-btn{
    border-top-right-radius: 28px;
}
.header-sec .contact .tabs .tab.manage-btn{
    border-top-left-radius: 28px;
    margin-right: -4px;
}

.header-sec .contact .form .radios{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
}
.header-sec .contact .form .radios .goBack{
    margin-left: 20px;
}

.header-sec .contact .form .fromTo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-sec .contact .form .fromTo .inpt{
    width: 97%;
    position: relative;
}
.header-sec .contact .form .fromTo .inpt.from{
    margin-left: 3%;
}
.header-sec .contact .form .fromTo .inpt input{
    display: inline-block;
    width: 100%;
    padding: 7px 15px;
    padding-right: 45px;
    border: 1px solid #CCC;
    border-radius: 5px;
}
.header-sec .contact .form .fromTo .inpt .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    font-size: 18px;
    color: #29CAE0;
    transform: translateY(-50%);
}

.header-sec .contact .form .dates{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #CCC;
    border-radius: 5px;
    position: relative;
    padding: 3px 0;
}
.header-sec .contact .form .dates input{
    padding: 4px 15px;
    width: 98%; 
}
.header-sec .contact .form .dates input.f-date{
    border-left: 1px solid #CCC;
}

.header-sec .contact .form .single-clm select{
    width: 100%;
    padding:5px 15px;
    border: 1px solid #CCC;
    border-radius: 5px;
}

.home .header-sec .contact .form .btn.submit{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 30px;
    background-color: #C34E5E;
    color: #FFF;
    border-radius: 7px;
    bottom: 0;
}
.home .header-sec .contact .form .btn.submit span{
    margin-right: 8px;
}
.home .header-sec .contact .tab-contents{
    display: none;
}
.home .header-sec .contact .tab-contents.show{
    display: block;
}

.home .header-sec .contact .tab-contents.manage{
    padding: 50px 0;
}
.contact .tab-contents.manage input{
    display: inline-block;
    width: 100%;
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid #CCC;
    margin-bottom: 15px;
}

/* ****************** Style Features Section ****************** */
.features-sec .boxes{
    margin-top: 80px;
}
.features-sec .single-box{
    text-align: center;
}
.features-sec .single-box{
    box-shadow: 0 8px 15px 5px rgba(0, 0, 0, 0.05);
    padding: 85px 15px 20px;
    border-radius: 10px;
    position: relative;
}
.features-sec .single-box .image-div{
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #C34E5E;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -35%);
    background-color: #FFF;
}
.single-box .image-div img{
    width: 50px;
}
.single-box .content .feat-title{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}
/* ****************** Style Offers Section ****************** */
.video-sec .video-div .video{
    border-radius: 25px;
    width: 100%;
    max-height: 90vh;
    object-fit: cover;
}

/* ****************** Style Offers Section ****************** */
.offers-sec .single-slide{
    min-height: 450px;
    position: relative;
    overflow: visible;
    direction: rtl;
}
.offers-sec .single-slide .back-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10;
    border-radius: 10px;
}
.offers-sec .single-slide .slide-content{
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 80%;
    background-color: #FFF;
    box-shadow: 0 10px 15px 10px rgba(92, 67, 67, 0.08);
    padding: 20px 25px;
    border-radius: 10px;
}
.offers-sec .slide-content .offer-info,
.offers-sec .slide-content .travels{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.slide-content .offer-info h4{
    margin-bottom: 0;
    font-family: 'CarioB';
    color: #000;
    font-size: 20px;
}
.slide-content .offer-info .icon{
    color: #C34E5E;
    font-size: 25px;
}
.offers-sec .slide-content .travels{
    margin-bottom: 0;
}
.slide-content .travels .name{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
}
.slide-content .travels .icon{
    margin-left: 10px;
}
.offers-sec .travels .num{
    font-size: 18px;
    font-family: 'CarioB';
    color: #C34E5E;
}
.slide-content .travels > *{
    margin-bottom: 0;
}
.owl-carousel .owl-stage-outer{
    min-height: 580px;
}
.owl-theme .owl-dots .owl-dot span{
    background-color: #EBC3C8;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background-color: #C34E5E;
}

/* ****************** Style Partners Section ****************** */

.partnets-sec .boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
}
.partnets-sec .boxes img{
    display: inline-block;
    margin: 0 25px;
    max-width: 120px;
}

/* ****************** Style Helping Section ****************** */
.help-sec .single-card{
    text-align: center;
    padding: 0 15px;
}
.help-sec .sec-head .sub-title{
    color: #999;
}
.help-sec .single-card .card-icon{
    font-size: 30px;
    color: #C34E5E;
    display: inline-block;
    margin-bottom: 15px;
}
.help-sec .single-card .card-para{
    color: #000;
    font-size: 18px;
}


/* ************************************ Complaints Page ************************************ */
.inners-sec .header-sec.new-sec{
    padding-bottom: 10px;
}
.inners-sec .header-sec .back-img.complaints{
    border-radius: 0;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/hands-unrecognizable-female-doctor-filling-form-clipboard.jpg) center center;
    min-height: 50vh;
}
.inners-sec .header-sec .back-img .content{
    transform: translateY(-50px);
}
.inners-sec .header-sec .contact{
    padding: 55px 30px;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 8px;
    transform: translateY(-100px);
}
.inners-sec .header-sec .contact .label{
    font-size: 14px;
    margin-bottom: 4px;
}
.inners-sec .header-sec .contact .single-clm{
    height: 100%;
}
.inners-sec .header-sec .contact .single-clm.tow{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}
.inners-sec .header-sec .contact .single-clm.tow > *{
    display: inline-block;
    width: 100%;
    border: 1px solid #CCC;
    padding: 7px 10px;
    border-radius: 4px;
    font-size: 16px;
}
.inners-sec .header-sec .contact .single-clm textarea{
    min-width: 100%;
    height: 100%;
    border: 1px solid #CCC;
    padding: 10px 15px;
    overflow-y: auto;
    border-radius: 4px;
}
.inners-sec .header-sec .contact .btm-form{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 25px;
}
.inners-sec .header-sec .contact .btm-form .check{
    flex-basis: 70%;
}
.inners-sec .header-sec .contact .btm-form .check input{
    display: inline-block;
    transform: scale(1.3);
    margin-left: 8px;
}
.contact .btm-form .btn{
    background-color: #C34E5E;
    color: #FFF;
    width: 150px;
}


/* ************************************ Contactus Page ************************************ */

.inners-sec .header-sec .back-img.contactus{
    min-height: 50vh;
    border-radius: 0;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/business-handshake-technology-corporate-business-concept.jpg) center center;
}
.inners-sec.contactus-page .help-sec{
    border-top: 1px solid #EEE;
}

/* ************************************ FAQs Page ************************************ */

.contact .accordions-all .card,
.contact .accordions-all .card > *{
    border: none;
    background: none;
    border: none;
    padding: 0;
    border-radius: 0;
}
.contact .accordions-all .card{
    padding: 12px 0;
}
.contact .accordions-all .card:not(:last-child){
    border-bottom: .5px solid #DDD;
    margin-bottom: 8px;
}
.contact .btn-open{
    outline: none;
    border: none;
    text-align: right;
    background: none;
    display: flex;
    justify-content: space-between;
}
.contact .btn-open .main-accordion{
    flex: 1;
}
.contact .card .card-header .num{
    color: #000;
}
.contact .card .card-header .acc-name{
    padding: 0 8px;
    font-size: 15px;
    color: #000;
}
.contact .card .arrow-icon{
    display: inline-flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 50%;
    transform: rotate(180deg);
    border: 1px solid #C34E5E;
    background-color: #C34E5E;
    color: #FFF;
    transition: .5s ease;
}
.contact .card .card-body{
    text-align: justify;
}
.contact .card .collapsed .arrow-icon{
    color: #C34E5E;
    border: 1px solid #CCC;
    background: none;
    transform: rotate(0);
    margin-right: 12px;
}
.contact .card .btn-link:hover,
.contact .card .btn-link:focus{
    text-decoration: none;
}

/* ****************** Style Travels Section ****************** */
.new-sec .parent-div{
    border: 2px solid #EBEBEB;
    padding: 25px;
    border-radius: 13px;
}
.travels-sec .parent-div .top-tabs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.parent-div .top-tabs .btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    border: none;
    outline: none;
}
.parent-div .top-tabs .btn span{
    margin-right: 5px;
}
.parent-div .top-tabs .small-pop{
    width: 180px;
    padding: 18px 12px;
    background-color: #FFF;
    position: absolute;
    right: 15px;
    border-radius: 5px;
}
.parent-div .top-tabs .small-pop .link{
    display: inline-flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    color: #000;
    padding: 5px 0;
}
.parent-div .top-tabs .small-pop .link span,
.travels-sec .boxes .single-box .status-div .dote{
    font-size: 10px;
    margin-left: 7px;
}
.small-pop .link span.gray,
.single-box .status-div .status-para.gray .dote{
    color: #D9D9D9;
}
.small-pop .link span.blue,
.single-box .status-div .status-para.blue .dote{
    color: #12A4ED;
}
.small-pop .link span.yellow,
.single-box .status-div .status-para.yellow .dote{
    color: #FFCA00;
}
.small-pop .link span.sea,
.single-box .status-div .status-para.sea .dote{
    color: #00D2C5;
}
.small-pop .link span.pink,
.single-box .status-div .status-para.pink .dote{
    color: #F5325C;
}
.parent-div .top-tabs .results .value{
    color: #C34E5E;
    font-weight: bold;
    margin-right: 3px;
}

.travels-sec .boxes .single-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    box-shadow: 0 7px 10px 3px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    flex-wrap: wrap;
    position: relative;
}
.travels-sec .boxes .single-box:not(:last-of-type){
    margin-bottom: 30px;
}
.boxes .single-box .comp-div{
    text-align: center;
    padding-bottom: 0 10px;
}
.boxes .single-box .comp-div .comp-name{
    margin-top: 8px;
    font-size: 14px;
}
.boxes .single-box .time-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;
}
.boxes .single-box .time-div .main-time{
    font-family: 'CarioSm';
    font-weight: bold;
}
.boxes .single-box .time-div .place{
    font-size: 14px;
}
.boxes .single-box .time-div p{
    margin-bottom: 0;
}
.boxes .single-box .time-div .f-time{
    margin-left: 20px;
}
.boxes .single-box .time-div .s-time{
    margin-right: 20px;
}
.boxes .single-box .time-div .duration{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.boxes .single-box .time-div .duration-value{
    font-size: 14px;
    text-align: center;
    padding: 0 10px 5px;
    border-bottom: 2px solid #000;
}
.boxes .single-box .time-div .duration.left .duration-value::before{
    content: '\EA64';
    font-family: remixicon!important;
    position: absolute;
    top: 50.2%;
    left: -8px;
    font-size: 18px;
}
.boxes .single-box .time-div .duration.right .duration-value::before{
    content: '\EA6E';
    font-family: remixicon!important;
    position: absolute;
    top: 50.2%;
    right: -8px;
    font-size: 18px;
}
.boxes .single-box .status-div .status-para{
    margin-bottom:  0;
    border: 1px solid #D9D9D9;
    padding: 5px 10px;
    border-radius: 25px;
    width: 140px;
    text-align: center;
}
.boxes .single-box .menu-div{
    position: relative;
    padding: 0 10px;
}
.boxes .single-box .menu-div .order-info{
    width: 180px;
    padding: 18px 12px;
    background-color: #FFF;
    position: absolute;
    left: 5px;
    border-radius: 5px;
}
.boxes .single-box .menu-div .order-info .link{
    display: inline-block;
    width: 100%;
    padding: 5px;
    color: #000;
}

/* ****************** Style OTP Page ****************** */
.otp-sec .otp-form{
    text-align: center;
    padding: 80px 15px;
}
.otp-form .form-main{
    display: inline-block;
}
.otp-form .form-title{
    font-weight: bold;
    margin-bottom: 15px;
}
.otp-form .sub-title{
    font-size: 15px;
    color: #7F7F7F;
}
.otp-form .inputs{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #EBEBEB;
    border-radius: 5px;
    flex-direction: row-reverse;
    overflow: hidden;
}
.otp-form .inputs input{
    padding: 9px 3px;
    flex-basis: 25%;
    min-width: 40px;
    max-width: 80px;
    text-align: center;
    font-weight: bold;
}
.otp-form .inputs input:not(:last-of-type){
    border-right: 2px solid #EBEBEB;
}
.otp-form .edit-num{
    text-align: right;
    margin: 15px 0;
}
.otp-form .edit-num a{
    color: #000;
}
.otp-form .btn.verficate{
    width: 100%;
    background-color: #C34E5E;
    color: #FFF;
    font-weight: bold;
    padding: 10px 15px;
    margin-top: 15px;
}
.otp-form .resend{
    padding: 5px 2px;
    margin-top: 15px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.otp-form .resend .link{
    margin-left: 5px;
    color: #C34E5E;
    font-weight: bold;
    display: inline-block;
}
.otp-sec .image-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.otp-sec .image-div img{
    max-width: 80%;
    margin-left: 115px;
    display: inline-block;
}

/* ****************** Style Footer ****************** */
.page-footer .footer-content{
    background-color: #C34E5E;
    padding: 20px 30px;
    border-radius: 15px;
}
.footer-content .top-part .part-title{
    color: #FFF;
    font-size: 25px;
}
.footer-content .top-part form{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-content .top-part form > *{
    padding: 7px 15px;
}
.footer-content .top-part form .btn{
    background-color: #2A2A2A;
    color: #FFF;
    border-radius: 0;
    margin: 0;
    padding: 6px 25px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.footer-content .top-part form input{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 280px;
    min-width: 150px;
}
.page-footer .btm-part .about-us{
    padding-left: 50px;
}
.footer-content .ft-name{
    color: #FFF;
    font-size: 18px;
    font-family: 'CarioSm';
    margin-bottom: 15px;
}
.footer-content .ft-content{
    color: #FFF;
}
.ft-content .social-links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.ft-content .social-links .link{
    display: inline-flex;
    width: 40px;
    height: 40px;
    background-color: #FFF;
    color: #C34E5E;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    border-radius: 50%;
    font-size: 20px;
    transition: transform .3s ease;
}
.ft-content .social-links .link:hover{
    transform: rotate(30deg) translateY(-10px);
}

.page-footer .single-clm ul li{
    list-style-type: none;
    margin-bottom: 10px;
}
.page-footer .single-clm ul li a{
    color: #FFF;
    display: inline-block;
    width: 100%;
    transition: .5s ease;
}
.page-footer .single-clm ul li a:hover{
    transform: translateX(-8px);
}
.page-footer .single-clm .payments{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.single-clm .payments img{
    margin-bottom: 10px;
    max-width: 80px;
}
.page-footer .copies{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-footer .copies {
    padding: 8px 0
}
.page-footer .copies .designby{
    direction: ltr;
}
.page-footer .copies .designby a{
    color: #C34E5E;
}

